@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fefbfb;
  --foreground: #1e1e1e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fefbfb;
    --foreground: #1e1e1e;
  }
}

.fraunces-font {
  font-family: 'Fraunces', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fraunces', serif;
}

input, textarea {
  background-color: rgb(243, 244, 246);
  border-radius: 0.25rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swatch-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr); /* 2 columns by default */
  justify-items: center;
}

@media (min-width: 768px) {
  .swatch-grid {
    grid-template-columns: repeat(4, 1fr); /* 4 columns on wider screens */
  }
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
